body {
    background-color: #ffccff; 
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'SNNeoNoire-Regular', sans-serif;
    font-size: 2.5em;
    color: #ff69b4; 
    margin-top: 70px;
}

img {
    width: 35%; 
    height: auto; 
    margin: 20px 0;
}

p {
    font-size: 1.2em;
    color: #333;
    padding: 0 20px;
}

a {
    display: inline-block;
    background-color: #ff69b4; 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    margin-top: 20px;
}

a:hover {
    background-color: #ff1493; 
}

@font-face {
    font-family: 'SNNeoNoire-Regular';
    src: url('SNNeoNoire-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
